#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 414px;
  margin: auto;
  min-height: 100vh;
  border-width: 1px;
  border-color: #e9e9e9;
  background-color: #fafafa;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

li a.router-link-active {
  color: #42b983;
}

input.invalid {
  border-color: red;
}

* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -ms-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  max-height: calc(100vh - 4rem);
}

header {
  width: 414px;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 20%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 100%;
  max-width: 414px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.066);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: bottom;
}

.modal-container {
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header {
  padding: 12px 14px;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 14px;
}

.modal-footer {
  padding: 12px 0;
  border-top-width: 1px;
}

.modal-default-button {
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #fff;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}